<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Main Page Template</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/typeahead.css"/>
    <link rel="stylesheet" href="static/css/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="static/css/stickyfooter.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/css/main.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="static/js/typeahead.js"></script>
    <script src="static/js/bootstrap-tagsinput.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/logo.js"></script>
    <script src="static/js/navbar_user.js"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-md bg-faded header">
        <div class="container-fluid">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header">
                <a class="navbar-brand hide-container" href="#">[MANDARIN]</a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <ul class="nav navbar-nav hide-container" id="navbar-guest">
                    <li><a href="login"> <i class="glyphicon glyphicon-log-in"></i> Sign in</a></li>
                    <p class="navbar-text"><small><small>Don't have an account? <a href="register">Register</a></small></small></p>
                </ul>
                <ul class="nav navbar-nav hide-container" id="navbar-user">
                    <li><a href="#"> <i class="glyphicon glyphicon-user"></i> Welcome <span id="navbar-username">User</span></a></li>
                    <li><a href="#" id="navbar-log-out"> <i class="glyphicon glyphicon-log-out"></i> Sign Out</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container" style="margin-top: 20%;">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="row">
                <div id="logo" class="text-center">
                    <h1>[MANDARIN]</h1>
                </div>
                <form role="form" id="ingredients-form">
                    <div class="form-group form-group form-group-lg">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Start Typing" id="typeahead">
                            <span class="input-group-btn">
                            <button class="btn btn-warning btn-lg" type="submit">
                                +
                            </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <h4>Ingredients</h4>
            </div>
            <div class="row" id="ingredients">
                <input type="text" class="input-lg" data-role="tagsinput" id="taglist"/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center loading hide-container">
            <i class="fa fa-cog fa-5x fa-spin fa-fw" aria-hidden="true"></i>
        </div>
    </div>

    <div class="container recipes-container hide-container">
        <div class="row recipes">

            <!-- <div class="col-lg-3 col-md-4 col-sm-6 recipe-container">
                <a href="#"><div style="background: url('http://i.ndtvimg.com/i/2016-06/chinese-625_625x350_81466064119.jpg') no-repeat center center; background-size: cover;">
                    <div>
                        <h4 class="text-center">Recipe Name</h4>
                    </div>
                </div></a>
            </div> -->

        </div>

        <div class="row load-more">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <button class="btn btn-block btn-default"> Load More Recipes</button>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place footer content here.</span>
        </div>
    </footer>

</body>
</html>