.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.bootstrap-tagsinput{
    width: 100%;
}
.tag{
    background-color: orange;
}

.loading{
    margin: 40px;
}

.hide-container{
    display: None;
}

.recipe-container .panel-body {
    position: relative;
    height: 300px !important;
}

.recipe-container a:hover h4{
    color: black;
}

.recipe-container a{
    text-decoration: none;
}

.recipe-container h4{
    position: absolute;
    top:5px;
    left:0;
    right:0;
    color: black;
}

.recipes-container{
    margin-top: 30px;
}

.label-lg {
  font-size: 15px;
}